<!DOCTYPE html>
<!-- =============================================================== -->
<!-- account.html                                                    -->
<!-- Author: Sydney Pittignano                                       -->
<!-- =============================================================== -->
<html>
    <head>
        <title>TigerTravel</title>
        <meta name="viewport"
         content="width=device-width, initial-scale=1">
         <meta property="og:image" content="/static/tt.png" />
        <link rel="stylesheet" href=
        "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Popperjs -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.2/dist/umd/popper.min.js"
        crossorigin="anonymous"></script>

        <script src=
        "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
         </script>
         
    </head>

    <body style="background-color:rgb(148,188,199)">
        <!-- ======================================================= -->

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#9be9ee; color:rgb(0, 0, 0)">
          <a class="navbar-brand" href="index"></a>
          <a href="index"><img src="/static/ttSmall.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="account" style="font-weight:bold">Dashboard
                {% if req_num > 0 %}
                <span class="badge bg-danger">{{req_num}}</span>
                {% endif %}
              </a>
              <a class="nav-link" href="browse">Browse</a>
              <a class="nav-link" href="add">Add Ride</a>
              <a class="nav-link" href="about">About</a>
              <a class="nav-link" href="tutorial">Tutorial</a>
              <form class="form-inline" action="logout" style="padding-right:10px">
                <button class="btn btn-dark" type="submit">logout</button>
              </form>
            </div>
        </div>
      </nav>
        
        <!-- ======================================================= -->
        <style>
          .nav-link {
              color: black;
          }
          .nav-tabs .nav-item .nav-link.active {
              color: black;
          }
          .nav-item>a:hover {
              color: white;
          }
          .table > tbody > tr > td {
          vertical-align: middle;
          }
        </style>

        <div class="container-fluid" style="color:rgb(0, 0, 0)">
          <br>
          <h1 class = "text-center fw-bold">MY RIDES</h1>
          <h4 class="text-center fw-bold">{{my_netid}}</h4>
          <br>
          {% if msg!="" %}
          <table class="table" style="border:3px solid rgb(6, 100, 14); background-color:rgb(192, 227, 179)">
            <tbody>
              <td style="color:rgb(6, 100, 14)" class="text-center fs-4"> {{ msg }}</td>
            </tbody>
          </table>
          {% endif %}
          <ul class="nav nav-tabs justify-content-center" role="tablist" style="border-bottom:1px solid white; border-collapse:collapse">
            <li class="nav-item" style="border-bottom:5px solid white">
              <a class="nav-link active" data-bs-toggle="tab" href="#Upcoming"><h5>Upcoming Rides</h6></a>
            </li>
            <li class="nav-item" style="border-bottom:5px solid white">
              <a class="nav-link" data-bs-toggle="tab" href="#Past"><h5>Past Rides</h5></a>
            </li>
          </ul>

          <div class="tab-content">
            <div id="Upcoming" class="container tab-pane active"><br>
              {% if full_rides|length == 0: %}
                <table class="table" style="border:3px solid rgb(220, 7, 7); background-color:rgb(227, 179, 179)">
                  <tbody>
                    <td style="color:rgb(220, 7, 7)" class="text-center fs-4"> You don't have any upcoming rides! Go to "Add Ride" to add a ride.</td>
                  </tbody>
                </table>
              {% else %}
              <br>
              {% for full_ride in full_rides %}
              {% include 'displayRides.html' %}
              <br>
              <br>
              {% endfor %}
              {% endif %}
            </div>
            <div id="Past" class="container tab-pane fade"><br>
              {% if past_rides|length == 0: %}
              <table class="table" style="border:3px solid rgb(220, 7, 7); background-color:rgb(227, 179, 179)">
                <tbody>
                  <td style="color:rgb(220, 7, 7)" class="text-center fs-4"> You don't have any past rides.</td>
                </tbody>
              </table>
              {% else %}
              <br>
              {% for full_ride in past_rides %}
                <div class="table-responsive">
                  <table class="table" style="border:6px solid black; border-collapse:separate; background-color:rgb(226, 226, 226)">
                      <tbody>
                      <td style="padding:0; margin:0; border:0">
                      <table class="table" style="margin:0">
                      <tbody>
                          <tr style="background-color: sandybrown">
                            <th colspan="5" align-right>My Ride from {{full_ride[0].get_origin()}} to {{full_ride[0].get_dest()}}</th>
                            <th colspan="1" class="text-end">
                              <form action="edit" method="get">
                                <input type = "hidden" name = "rideid" value = {{full_ride[0].get_rideid()}} />
                                <div class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="You cannot edit past rides">
                                <input type="submit" value="Edit Ride" style="background-color:#9be9ee; pointer-events:none" disabled>
                                </div>
                              </form>
                            </th>
                            <th colspan="1" class="text-end">
                              <form action="deleteorleaveride" method="get">
                                <input type = "hidden" name = "rideid" value = {{full_ride[0].get_rideid()}} />
                                {% if full_ride[0].get_riders()|length == 1 %}
                                <div class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="You cannot delete past rides">
                                <input type="submit" value="Delete Ride" style="background-color:tomato; pointer-events:none" disabled>
                                {% else %}
                                <div class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="You cannot leave past rides">
                                <input type="submit" value="Leave Ride" style="background-color:tomato; pointer-events:none" disabled>
                                {% endif %}
                                </div>
                              </form>
                            </th>
                          </tr>
                          <tr style="border-bottom:2px solid black; vertical-align:bottom">
                              <th>Current Riders</th>
                              <th>Origin</th>
                              <th>Destination</th>
                              <th>Departure Time</th>
                              <th># of Riders</th>
                              <th></th>
                              <th></th>
                          </tr>
                          <tr>
                            <td>
                              {% if full_ride[0].get_riders()|length > 1 %}
                              {{', '.join(full_ride[0].get_riders())}}
                              <a class="btn" style="background-color:lightsteelblue" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="left"
                              data-bs-content="
                              {% for rider in full_ride[0].get_riders() %}
                              {% if rider != my_netid %}
                              {{rider}}@princeton.edu
                              {% endif %}
                              {% endfor %}
                              ">
                              <b>Toggle Contact Info</b>
                              </a>
                              {% else %}
                              {{my_netid}}
                              {% endif %}
                            </td>
                            <td>{{full_ride[0].get_origin()}}</td>
                            <td>{{full_ride[0].get_dest()}}</td>
                  
                            {% if  full_ride[0].get_starttime().date() == full_ride[0].get_endtime().date() %}
                            <td>
                                {{full_ride[0].get_starttime().strftime('%A, %B %d between %I:%M %p and ')}}
                                {{full_ride[0].get_endtime().strftime('%I:%M %p')}}
                            </td>
                            {% else %}
                            <td>
                                Between {{full_ride[0].get_starttime().strftime('%A, %B %d at %I:%M %p and ')}}
                                {{full_ride[0].get_endtime().strftime('%A, %B %d at %I:%M %p')}}
                            </td>
                            {% endif %}
                  
                            <td>{{full_ride[0].get_num()}}</td>
                            <td></td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                      </td>
                      </tbody>
                      </table>
                    </div>
              <br>
              <br>
              {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>

        <!-- ======================================================= -->
        <script>

          'use strict';

          var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
          var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
          return new bootstrap.Popover(popoverTriggerEl)
          })

          function setup()
          {
            $(function () {
              $('[data-toggle="tooltip"]').tooltip()
            })
          }

          $('document').ready(setup);

        </script>


    </body>
</html>