<!DOCTYPE html>
<!-- =============================================================== -->
<!-- account.html                                                    -->
<!-- Author: Sydney Pittignano                                       -->
<!-- =============================================================== -->
<html>
    <head>
        <title>TigerTravel</title>
    </head>

    <body>
        <!-- ======================================================= -->

        {% include 'header.html' %}
        
        <!-- ======================================================= -->

        <hr>
        <h1>MY ACCOUNT</h1>
        <hr>
        
        {% if full_rides|length == 0: %}
            (None)
        {% else %}
        {% for full_ride in full_rides %}
            <table border="1" width="100%">
                <tr><td>My Ride</td></tr>
                <tr>
                    <th align="left">Current Riders</th>
                    <th align="left">Origin</th>
                    <th align="left">Destination</th>
                    <th align="left">Start Time</th>
                    <th align="left">End Time</th>
                    <th align="left"># of Riders</th>
                </tr>
                <tr>
                    <td>{{full_ride[0].get_riders()}}</td>
                    <td>{{full_ride[0].get_origin()}}</td>
                    <td>{{full_ride[0].get_dest()}}</td>
                    <td>{{full_ride[0].get_starttime()}}</td>
                    <td>{{full_ride[0].get_endtime()}}</td>
                    <td>{{full_ride[0].get_num()}}</td>
                </tr>
                <tr><td>Incoming Requests</td></tr>
                {% for incoming_ride in full_ride[1] %}
                <tr>
                    <th align="left">Current Riders</th>
                    <th align="left">Origin</th>
                    <th align="left">Destination</th>
                    <th align="left">Start Time</th>
                    <th align="left">End Time</th>
                    <th align="left"># of Riders</th>
                </tr>
                <tr>
                    <td>{{incoming_ride.get_riders()}}</td>
                    <td>{{incoming_ride.get_origin()}}</td>
                    <td>{{incoming_ride.get_dest()}}</td>
                    <td>{{incoming_ride.get_starttime()}}</td>
                    <td>{{incoming_ride.get_endtime()}}</td>
                    <td>{{incoming_ride.get_num()}}</td>
                </tr>
                {% endfor %}
        {% endfor %}
        {% endif %}

        <!-- ======================================================= -->

    </body>
</html>