<!DOCTYPE html>
<!-- =============================================================== -->
<!-- account.html                                                    -->
<!-- Author: Sydney Pittignano                                       -->
<!-- =============================================================== -->
<html>
    <head>
        <title>TigerTravel</title>
        <meta name="viewport"
         content="width=device-width, initial-scale=1">
         <meta property="og:image" content="/static/tt.png" />
        <link rel="stylesheet" href=
        "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    </head>

    <body>
        <!-- ======================================================= -->

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:sandybrown; color:rgb(0, 0, 0)">
            <div class="container-fluid">
              <a class="navbar-brand fw-bold" href="#">TigerTravel</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="account">Dashboard</a>
                  <a class="nav-link" href="browse">Browse</a>
                  <a class="nav-link" href="add">Add Ride</a>
                  <a class="nav-link" href="about">About</a>
                  <a class="nav-link" href="tutorial">Tutorial</a>
                </div>
              </div>
            </div>
          </nav>
        
        <!-- ======================================================= -->
        <br>
        <div class="container-fluid">
          <h1>MY CURRENT RIDES</h1>
        </div>

        <div class="container-fluid">
        {% if full_rides|length == 0: %}
          <h3 style="color:red"> You don't have any current rides! Go to "Add Ride" to add a ride.</h3>
        {% else %}
        <h3 style="color:green">{{ msg }}</h3>
        <br>
        {% for full_ride in full_rides %}
          <table class="table" style="border:6px solid black; background-color:rgb(226, 226, 226)">
            <tbody>
                <tr style="background-color: sandybrown">
                  <th colspan="6" align-right>My Ride from {{full_ride[0].get_origin()}} to {{full_ride[0].get_dest()}}</th>
                  <th colspan="2" class="text-end">
                    <form action="deleteride" method="get">
                      <input type = "hidden" name = "rideid" value = {{full_ride[0].get_rideid()}} />
                      <input type="submit" value="Delete Ride" style="background-color:tomato">
                    </form>
                  </th>
                </tr>
                <tr>
                    <th>Current Riders</th>
                    <th>Origin</th>
                    <th>Destination</th>
                    <th>Departure Time</th>
                    <th># of Riders</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                  <td>{{', '.join(full_ride[0].get_riders())}}</td>
                  <td>{{full_ride[0].get_origin()}}</td>
                  <td>{{full_ride[0].get_dest()}}</td>


                  {% if  full_ride[0].get_starttime().date() == full_ride[0].get_endtime().date() %}
                  <td>
                      {{full_ride[0].get_starttime().strftime('%A')}}, {{full_ride[0].get_starttime().strftime('%B')}} {{full_ride[0].get_starttime().strftime('%d')}} between
                      {{full_ride[0].get_starttime().strftime('%I')}}:{{full_ride[0].get_starttime().strftime('%M')}} {{full_ride[0].get_starttime().strftime('%p')}} and {{full_ride[0].get_endtime().strftime('%I')}}:{{full_ride[0].get_endtime().strftime('%M')}} {{full_ride[0].get_endtime().strftime('%p')}}        
                  </td>
                  {% else %}
                  <td>
                      Between {{full_ride[0].get_starttime().strftime('%A')}}, {{full_ride[0].get_starttime().strftime('%B')}} {{full_ride[0].get_starttime().strftime('%d')}} at 
                      {{full_ride[0].get_starttime().strftime('%I')}}:{{full_ride[0].get_starttime().strftime('%M')}} {{full_ride[0].get_starttime().strftime('%p')}} and 
                      {{full_ride[0].get_endtime().strftime('%A')}}, {{full_ride[0].get_endtime().strftime('%B')}} {{full_ride[0].get_endtime().strftime('%d')}} at 
                      {{full_ride[0].get_endtime().strftime('%I')}}:{{full_ride[0].get_endtime().strftime('%M')}} {{full_ride[0].get_endtime().strftime('%p')}}
                  </td>
                  {% endif %}

                  <td>{{full_ride[0].get_num()}}</td>
                  <td></td>
                  <td></td>
                </tr>
              {% if full_ride[1]|length != 0 %}
              <tr style="background-color: sandybrown">
                <th colspan="8">Incoming requests: Others have requested to join your ride!</th>
              </tr>
              <tr>
                <th>Current Riders</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Departure Time</th>
                <th># of Riders</th>
                <th></th>
                <th></th>
              </tr>
              {% for incoming_ride in full_ride[1] %}
              <tr>
                <td>{{', '.join(incoming_ride.get_riders())}}</td>
                <td>{{incoming_ride.get_origin()}}</td>
                <td>{{incoming_ride.get_dest()}}</td>

                {% if  incoming_ride.get_starttime().date() == incoming_ride.get_endtime().date() %}
                <td>
                    {{incoming_ride.get_starttime().strftime('%A')}}, {{incoming_ride.get_starttime().strftime('%B')}} {{incoming_ride.get_starttime().strftime('%d')}} between
                    {{incoming_ride.get_starttime().strftime('%I')}}:{{incoming_ride.get_starttime().strftime('%M')}} {{incoming_ride.get_starttime().strftime('%p')}} and {{incoming_ride.get_endtime().strftime('%I')}}:{{incoming_ride.get_endtime().strftime('%M')}} {{incoming_ride.get_endtime().strftime('%p')}}        
                </td>
                {% else %}
                <td>
                    Between {{incoming_ride.get_starttime().strftime('%A')}}, {{incoming_ride.get_starttime().strftime('%B')}} {{incoming_ride.get_starttime().strftime('%d')}} at 
                    {{incoming_ride.get_starttime().strftime('%I')}}:{{incoming_ride.get_starttime().strftime('%M')}} {{incoming_ride.get_starttime().strftime('%p')}} and 
                    {{incoming_ride.get_endtime().strftime('%A')}}, {{incoming_ride.get_endtime().strftime('%B')}} {{incoming_ride.get_endtime().strftime('%d')}} at 
                    {{incoming_ride.get_endtime().strftime('%I')}}:{{incoming_ride.get_endtime().strftime('%M')}} {{incoming_ride.get_endtime().strftime('%p')}}
                </td>
                {% endif %}

                <td>{{incoming_ride.get_num()}}</td>
                <td>
                  <form action="acceptrequest" method="get">
                    <input type = "hidden" name = "joining_rideid" value = {{full_ride[0].get_rideid()}} />
                    <input type = "hidden" name = "sending_rideid" value = {{incoming_ride.get_rideid()}} />
                    <input type="submit" value="ACCEPT" style="background-color:lawngreen">
                  </form>
                </td>
                <td>
                  <form action="declinerequest" method="get">
                    <input type = "hidden" name = "joining_rideid" value = {{full_ride[0].get_rideid()}} />
                    <input type = "hidden" name = "sending_rideid" value = {{incoming_ride.get_rideid()}} />
                    <input type="submit" value="DECLINE" style="background-color:tomato">
                  </form>
                </td>
              </tr>
              {% endfor %}
              {% else %}
              <tr style="background-color: sandybrown">
                <th colspan="8">Nobody has requested to join your ride.</th>
              </tr>
              {% endif %}
              {% if full_ride[2]|length != 0 %}
              <tr style="background-color:sandybrown">
                <th colspan="8">You have requested to join the following rides:</th>
              </tr>
              <tr>
                <th>Current Riders</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Departure Time</th>
                <th># of Riders</th>
              </tr>
              {% for outgoing_ride in full_ride[2] %}
              <tr>
                <td>{{', '.join(outgoing_ride.get_riders())}}</td>
                <td>{{outgoing_ride.get_origin()}}</td>
                <td>{{outgoing_ride.get_dest()}}</td>

                {% if  outgoing_ride.get_starttime().date() == outgoing_ride.get_endtime().date() %}
                <td>
                    {{outgoing_ride.get_starttime().strftime('%A')}}, {{outgoing_ride.get_starttime().strftime('%B')}} {{outgoing_ride.get_starttime().strftime('%d')}} between
                    {{outgoing_ride.get_starttime().strftime('%I')}}:{{outgoing_ride.get_starttime().strftime('%M')}} {{outgoing_ride.get_starttime().strftime('%p')}} and {{outgoing_ride.get_endtime().strftime('%I')}}:{{outgoing_ride.get_endtime().strftime('%M')}} {{outgoing_ride.get_endtime().strftime('%p')}}        
                </td>
                {% else %}
                <td>
                    Between {{outgoing_ride.get_starttime().strftime('%A')}}, {{outgoing_ride.get_starttime().strftime('%B')}} {{outgoing_ride.get_starttime().strftime('%d')}} at 
                    {{outgoing_ride.get_starttime().strftime('%I')}}:{{outgoing_ride.get_starttime().strftime('%M')}} {{outgoing_ride.get_starttime().strftime('%p')}} and 
                    {{outgoing_ride.get_endtime().strftime('%A')}}, {{outgoing_ride.get_endtime().strftime('%B')}} {{outgoing_ride.get_endtime().strftime('%d')}} at 
                    {{outgoing_ride.get_endtime().strftime('%I')}}:{{outgoing_ride.get_endtime().strftime('%M')}} {{outgoing_ride.get_endtime().strftime('%p')}}
                </td>
                {% endif %}


                <td>{{outgoing_ride.get_num()}}</td>
                <td rowspan="2">
                  <form action="cancelrequest" method="get">
                    <input type = "hidden" name = "joining_rideid" value = {{outgoing_ride.get_rideid()}} />
                    <input type = "hidden" name = "sending_rideid" value = {{full_ride[0].get_rideid()}} />
                    <input type="submit" value="CANCEL REQUEST" style="background-color:tomato">
                  </form>
                </td>
              </tr>
              {% endfor %}
              {% else %}
              <tr style="background-color:sandybrown">
                <th colspan="8">Head over to the Browse page to find compatible rides!</th>
              </tr>
              {% endif %}
            </tbody>
          </table>
          <br>
          <br>
        {% endfor %}
        {% endif %}
        </div>

        <!-- ======================================================= -->

    </body>
</html>