<!DOCTYPE html>
<!-- =============================================================== -->
<!-- add.html                                                        -->
<!-- Author: Sydney Pittignano                                       -->
<!-- =============================================================== -->
<html>
    <head>
        <title>TigerTravel</title>
        <meta name="viewport"
         content="width=device-width, initial-scale=1">
         <meta property="og:image" content="/static/tt.png" />
        <link rel="stylesheet" href=
        "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">

        <!-- Bootstrap is not required for the picker to work-->
        <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"
        ></script>

        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous"
        />
        <!-- end bootstrap-->
        <!-- Popperjs -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.2/dist/umd/popper.min.js"
            crossorigin="anonymous"></script>
        <!-- Tempus Dominus JavaScript -->
        <script src="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/js/tempus-dominus.js"
            crossorigin="anonymous"></script>

        <!-- Tempus Dominus Styles -->
        <link href="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/css/tempus-dominus.css"
            rel="stylesheet" crossorigin="anonymous">

        <!-- Font awesome is not required provided you change the icon options -->
        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/solid.min.js"
        integrity="sha512-C92U8X5fKxCN7C6A/AttDsqXQiB7gxwvg/9JCxcqR6KV+F0nvMBwL4wuQc+PwCfQGfazIe7Cm5g0VaHaoZ/BOQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        ></script>

        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/fontawesome.min.js"
        integrity="sha512-5qbIAL4qJ/FSsWfIq5Pd0qbqoZpk5NcUVeAAREV2Li4EKzyJDEGlADHhHOSSCw0tHP7z3Q4hNHJXa81P92borQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        ></script>
        <!-- end FA -->
    </head>

    <body style="height:100vh; background-color:rgb(148,188,199)">
        <!-- ======================================================= -->
        
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #9be9ee; color:rgb(0, 0, 0)">
            <div class="container-fluid">
              <a class="navbar-brand" href="index"></a>
                <a href="index"><img src="/static/ttSmall.png" alt=""></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link" href="account">Dashboard</a>
                  <a class="nav-link" href="browse">Browse</a>
                  <a class="nav-link active" aria-current="page" href="add">Add Ride</a>
                  <a class="nav-link" href="about">About</a>
                  <a class="nav-link" href="tutorial">Tutorial</a>
                  <form class="form-inline" action="logout">
                    <button class="btn btn-dark" type="submit">logout</button>
                  </form>
                </div>
              </div>
            </div>
          </nav>

        <div class="container-fluid" style="color:black">
          <br>
          <h1 class = "text-center fw-bold">ADD RIDE</h1>
          <br>
          {% if msg!="" %}
          <table class="table" style="border:3px solid rgb(220, 7, 7); background-color:rgb(227, 179, 179)">
            <tbody>
              <td style="color:rgb(220, 7, 7)" class="text-center fs-4"> {{msg}}</td>
            </tbody>
          </table>
          {% endif %}
          <br>
          {% if joining_ride != "" %}
          <div class="table-responsive">
            <table class="table" style="border:6px solid black; border-collapse:separate; background-color:rgb(226, 226, 226)">
              <tbody>
              <td style="padding:0; margin:0; border:0">
              <table class="table" style="margin:0">
              <tbody>
                <tr style="background-color: sandybrown">
                  <th colspan="6" align-right>Ride from <span id="joining_origin">{{joining_ride.get_origin()}}</span> to <span id="joining_dest">{{joining_ride.get_dest()}}</span></th>
                </tr>
                <tr style="border-bottom:2px solid black; vertical-align:bottom">
                    <th>Current Riders</th>
                    <th>Origin</th>
                    <th>Destination</th>
                    <th>Departure Time</th>
                    <th># of Riders</th>
                </tr>
                <tr>
                  <td>{{', '.join(joining_ride.get_riders())}}</td>
                  <td>{{joining_ride.get_origin()}}</td>
                  <td>{{joining_ride.get_dest()}}</td>
                  {% if  joining_ride.get_starttime().date() == joining_ride.get_endtime().date() %}
                  <td>
                      {{joining_ride.get_starttime().strftime('%A')}}, {{joining_ride.get_starttime().strftime('%B')}} {{joining_ride.get_starttime().strftime('%d')}} between
                      {{joining_ride.get_starttime().strftime('%I')}}:{{joining_ride.get_starttime().strftime('%M')}} {{joining_ride.get_starttime().strftime('%p')}} and {{joining_ride.get_endtime().strftime('%I')}}:{{joining_ride.get_endtime().strftime('%M')}} {{joining_ride.get_endtime().strftime('%p')}}        
                  </td>
                  {% else %}
                  <td>
                      Between {{joining_ride.get_starttime().strftime('%A')}}, {{joining_ride.get_starttime().strftime('%B')}} {{joining_ride.get_starttime().strftime('%d')}} at 
                      {{joining_ride.get_starttime().strftime('%I')}}:{{joining_ride.get_starttime().strftime('%M')}} {{joining_ride.get_starttime().strftime('%p')}} and 
                      {{joining_ride.get_endtime().strftime('%A')}}, {{joining_ride.get_endtime().strftime('%B')}} {{joining_ride.get_endtime().strftime('%d')}} at 
                      {{joining_ride.get_endtime().strftime('%I')}}:{{joining_ride.get_endtime().strftime('%M')}} {{joining_ride.get_endtime().strftime('%p')}}
                  </td>
                  {% endif %}
                  <td>{{joining_ride.get_num()}}</td>
                </tr>
              </tbody>
              </table>
              </td>
              </tbody>
              </table>
            </div>
          <br>
          <table class="table" style="border:3px solid rgb(220, 7, 7); background-color:rgb(227, 179, 179)">
            <tbody>
              <td style="color:rgb(220, 7, 7)" class="text-center fs-4"> {{msg2}}</td>
            </tbody>
          </table>
          <br>
          <form action="addandjoin" method="get">
            <input type="hidden" name="joining_rideid" id="joining_rideid" value="{{joining_ride.get_rideid()}}">
            <input type="hidden" name="starttime" id="starttime">
            <input type="hidden" name="endtime" id="endtime">
            <div class="row">
              <div class="col-sm-12 col-lg-2">
                <div class="row">
                <h5>Origin:</h5>
                </div>
                <div class="row">
                  <div>
                  <select class="form-select" name="origin" id="origin">
                    <option></option>
                    <option value = "Princeton University">Princeton University</option>
                    <option value="Nassau Park Pavilion (Wegmans, Party City, etc.)">Nassau Park Pavilion (Wegmans, Party City, etc.)</option>
                    <option value="Trenton-Mercer Airport (TTN)">Trenton-Mercer Airport (TTN)</option>
                    <option value="Philadelphia International Airport (PHL)">Philadelphia International Airport (PHL)</option>
                    <option value="LaGuardia Airport (LGA)">LaGuardia Airport (LGA)</option>
                    <option value="Newark Liberty International Airport (EWR)">Newark Liberty International Airport (EWR)</option>
                    <option value="John F. Kennedy International Airport (JFK)">John F. Kennedy International Airport (JFK)</option>
                  </select>
                  </div>
                </div>
                <div class="row"></div>
              </div>
              <div class="col-sm-12 col-lg-2">
                <div class="row">
                <h5>Destination:</h5>
                </div>
                <div class="row">
                  <div>
                  <select class="form-select" name="dest" id="dest">
                    <option></option>
                    <option value = "Princeton University">Princeton University</option>
                    <option value="Nassau Park Pavilion (Wegmans, Party City, etc.)">Nassau Park Pavilion (Wegmans, Party City, etc.)</option>
                    <option value="Trenton-Mercer Airport (TTN)">Trenton-Mercer Airport (TTN)</option>
                    <option value="Philadelphia International Airport (PHL)">Philadelphia International Airport (PHL)</option>
                    <option value="LaGuardia Airport (LGA)">LaGuardia Airport (LGA)</option>
                    <option value="Newark Liberty International Airport (EWR)">Newark Liberty International Airport (EWR)</option>
                    <option value="John F. Kennedy International Airport (JFK)">John F. Kennedy International Airport (JFK)</option>
                  </select>
                  </div>
                </div>
                <div class="row"></div>
              </div>
              <div class="col-sm-12 col-lg-3">
                <div class="row">
                  <h5>The earliest I'm willing to leave is:</h5>
                </div>
                <div class="row">
                  <div
                      class='input-group'
                      id='datetimepicker1'
                      data-td-target-input='nearest'
                      data-td-target-toggle='nearest'
                  >
                    <input
                      id='datetimepicker1Input'
                      type='text'
                      class='form-control'
                      data-td-target='#datetimepicker1'
                    />
                    <span
                      class='input-group-text'
                      data-td-target='#datetimepicker1'
                      data-td-toggle='datetimepicker'
                      style="cursor:pointer"
                    >
                      <span class='fa-solid fa-calendar'></span>
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="container-fluid">(Their earliest: {{joining_ride.get_starttime().strftime('%x, %I:%M %p')}})</div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-3">
                <div class="row">
                  <h5>The latest I'm willing to leave is:</h5>
                </div>
                <div class="row">
                  <div
                      class='input-group'
                      id='datetimepicker2'
                      data-td-target-input='nearest'
                      data-td-target-toggle='nearest'
                  >
                    <input
                      id='datetimepicker2Input'
                      type='text'
                      class='form-control'
                      data-td-target='#datetimepicker2'
                    />
                    <span
                      class='input-group-text'
                      data-td-target='#datetimepicker2'
                      data-td-toggle='datetimepicker'
                      style="cursor:pointer"
                    >
                      <span class='fa-solid fa-calendar'></span>
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="container-fluid">(Their latest: {{joining_ride.get_endtime().strftime('%x, %I:%M %p')}})</div>
                </div>
              </div> 
              <div class="col-sm-12 col-lg-2">
                <div class="row"><h5><br></h5></div>
                <div class="row" style="margin:1px">
                  <input type="submit" value="ADD & REQUEST">
                </div>
              </div>
            </div>
          </form>
          {% else %}
          <span id="joining_origin" hidden>none</span>
          <span id="joining_dest" hidden>none</span>
          <form action="addride" method="get">
            <input type="hidden" name="starttime" id="starttime">
            <input type="hidden" name="endtime" id="endtime">

            <div class="row">
              <div class="col-sm-12 col-lg-2">
                <div class="row">
                <h5>Origin:</h5>
                </div>
                <div class="row">
                  <div>
                  <select class="form-select" name="origin">
                    <option selected value="none"></option>
                    <option>Princeton University</option>
                    <option>Nassau Park Pavilion (Wegmans, Party City, etc.)</option>
                    <option>Trenton-Mercer Airport (TTN)</option>
                    <option>Philadelphia International Airport (PHL)</option>
                    <option>LaGuardia Airport (LGA)</option>
                    <option>Newark Liberty International Airport (EWR)</option>
                    <option>John F. Kennedy International Airport (JFK)</option>
                  </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-2">
                <div class="row">
                <h5>Destination:</h5>
                </div>
                <div class="row">
                  <div>
                  <select class="form-select" name="dest">
                    <option selected value="none"></option>
                    <option>Princeton University</option>
                    <option>Nassau Park Pavilion (Wegmans, Party City, etc.)</option>
                    <option>Trenton-Mercer Airport (TTN)</option>
                    <option>Philadelphia International Airport (PHL)</option>
                    <option>LaGuardia Airport (LGA)</option>
                    <option>Newark Liberty International Airport (EWR)</option>
                    <option>John F. Kennedy International Airport (JFK)</option>
                  </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-3">
                <div class="row">
                  <h5>The earliest I'm willing to leave is:</h5>
                </div>
                <div class="row">
                  <div
                      class='input-group'
                      id='datetimepicker1'
                      data-td-target-input='nearest'
                      data-td-target-toggle='nearest'
                  >
                    <input
                      id='datetimepicker1Input'
                      type='text'
                      class='form-control'
                      data-td-target='#datetimepicker1'
                    />
                    <span
                      class='input-group-text'
                      data-td-target='#datetimepicker1'
                      data-td-toggle='datetimepicker'
                      style="cursor:pointer"
                    >
                      <span class='fa-solid fa-calendar'></span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-3">
                <div class="row">
                  <h5>The latest I'm willing to leave is:</h5>
                </div>
                <div class="row">
                  <div
                      class='input-group'
                      id='datetimepicker2'
                      data-td-target-input='nearest'
                      data-td-target-toggle='nearest'
                  >
                    <input
                      id='datetimepicker2Input'
                      type='text'
                      class='form-control'
                      data-td-target='#datetimepicker2'
                    />
                    <span
                      class='input-group-text'
                      data-td-target='#datetimepicker2'
                      data-td-toggle='datetimepicker'
                      style="cursor:pointer"
                    >
                      <span class='fa-solid fa-calendar'></span>
                    </span>
                  </div>
                </div>
              </div> 
              <div class="col-sm-12 col-lg-2">
                <div class="row"><h5><br></h5></div>
                <div class="row" style="margin:1px">
                  <input type="submit" value="ADD">
                </div>
              </div>
            </div>
          </form>
          {% endif %}
        </div>

        <!-- ======================================================= -->
        
        <script>
          const picker1 = new tempusDominus.TempusDominus(document.getElementById('datetimepicker1'));
          const picker2 = new tempusDominus.TempusDominus(document.getElementById('datetimepicker2'));
        </script>

        <script src=
        "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
        </script>

        <script>

          function insertTimes()
          {
            let starttime = picker1.dates.formatInput(picker1.dates.lastPicked);
            let endtime = picker2.dates.formatInput(picker2.dates.lastPicked);
            document.getElementById("starttime").value = starttime;
            document.getElementById("endtime").value = endtime;
          }

          function setup() {
              $("#origin option[value='" + $('#joining_origin').text() + "']").prop('selected', true);
              $("#dest option[value='" + $('#joining_dest').text() + "']").prop('selected', true);
              document.body.addEventListener('click', insertTimes);
            }
            
          $('document').ready(setup);
        
        </script>

        


    </body>
</html>


