<!DOCTYPE html>
<!-- =============================================================== -->
<!-- browse.html                                                     -->
<!-- Author: Sydney Pittignano                                       -->
<!-- =============================================================== -->
<html>
    <head>
        <title>TigerTravel</title>
    </head>

    <body>
        <!-- ======================================================= -->

        {% include 'header.html' %}
    
        <!-- ======================================================= -->

        <hr>
        <h1>BROWSE RIDES</h1>
        <h3>filter by:</h3>
        <form action="browse" method="get">
            Start date: <input type="text" name="startdate">
            End date: <input type="text" name="enddate">
            Origin: <input type="text" name="origin">
            Destination: <input type="text" name="dest">
            Start time: <input type="text" name="starttime">
            End time: <input type="text" name="endtime">
            <input type="submit" value="GO">
         </form>

        <!-- ======================================================= -->

        <hr>
        {% if rides|length == 0: %}
            (None)
        {% else %}
        <table border="1" width="100%">
            <tr>
                <th align="left">RideID</th>
                <th align="left">Start Date</th>
                <th align="left">Start Time</th>
                <th align="left">End Date</th>
                <th align="left">End Time</th>
                <th align="left">Origin</th>
                <th align="left">Destination</th>
                <th align="left"># of Riders</th>
            </tr>
            {% for ride in rides: %}
            <tr>
                <td>{{ride.get_rideid()}}</td>
                <td>{{ride.get_startdate()}}</td>
                <td>{{ride.get_starttime()}}</td>
                <td>{{ride.get_enddate()}}</td>
                <td>{{ride.get_endtime()}}</td>
                <td>{{ride.get_origin()}}</td>
                <td>{{ride.get_dest()}}</td>
                <td>{{ride.get_num()}}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        <!-- ======================================================= -->

    </body>
</html>