<!DOCTYPE html>
<!-- =============================================================== -->
<!-- browse.html                                                     -->
<!-- Author: Sydney Pittignano                                       -->
<!-- =============================================================== -->
<html>
    <head>
        <title>TigerTravel</title>
    </head>

    <body>
        <!-- ======================================================= -->

        {% include 'header.html' %}
    
        <!-- ======================================================= -->

        <hr>
        <h1>BROWSE RIDES</h1>
        <h3>filter by:</h3>
        <form action="browse" method="get">
            Origin: <input type="text" name="origin">
            Destination: <input type="text" name="dest">
            Start time: <input type="text" name="starttime">
            End time: <input type="text" name="endtime">
            <input type="submit" value="GO">
         </form>

        <!-- ======================================================= -->

        <hr>
        {% if rides|length == 0: %}
            (None)
        {% else %}
        <table border="1" width="100%">
            <tr>
                <th align="left">Current Riders</th>
                <th align="left">Origin</th>
                <th align="left">Destination</th>
                <th align="left">Start Time</th>
                <th align="left">End Time</th>
                <th align="left"># of Riders</th>
            </tr>
            {% for i in range(0, rides|length): %}
            <tr>
                <td>{{rides[i].get_riders()}}</td>
                <td>{{rides[i].get_origin()}}</td>
                <td>{{rides[i].get_dest()}}</td>
                <td>{{rides[i].get_starttime()}}</td>
                <td>{{rides[i].get_endtime()}}</td>
                <td>{{rides[i].get_num()}}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        <!-- ======================================================= -->

    </body>
</html>