{% if rides|length == 0: %}
<h3 style="color:red">No rides match your filtering criteria!</h3>
{% else %}
<table class="table table-striped">
<tbody>
    <tr>
        <th>Current Riders</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Departure Time</th>
        <th># of Riders</th>
        <th></th>
    </tr>
    {% for i in range(0, rides|length): %}
    <tr>
    <td>{{', '.join(rides[i].get_riders())}}</td>
    <td>{{rides[i].get_origin()}}</td>
    <td>{{rides[i].get_dest()}}</td>


    {% if  rides[i].get_starttime().date() == rides[i].get_endtime().date() %}
    <td>
        {{rides[i].get_starttime().strftime('%A')}}, {{rides[i].get_starttime().strftime('%B')}} {{rides[i].get_starttime().strftime('%d')}} between
        {{rides[i].get_starttime().strftime('%I')}}:{{rides[i].get_starttime().strftime('%M')}} {{rides[i].get_starttime().strftime('%p')}} and {{rides[i].get_endtime().strftime('%I')}}:{{rides[i].get_endtime().strftime('%M')}} {{rides[i].get_endtime().strftime('%p')}}        
    </td>
    {% else %}
    <td>
        Between {{rides[i].get_starttime().strftime('%A')}}, {{rides[i].get_starttime().strftime('%B')}} {{rides[i].get_starttime().strftime('%d')}} at 
        {{rides[i].get_starttime().strftime('%I')}}:{{rides[i].get_starttime().strftime('%M')}} {{rides[i].get_starttime().strftime('%p')}} and 
        {{rides[i].get_endtime().strftime('%A')}}, {{rides[i].get_endtime().strftime('%B')}} {{rides[i].get_endtime().strftime('%d')}} at 
        {{rides[i].get_endtime().strftime('%I')}}:{{rides[i].get_endtime().strftime('%M')}} {{rides[i].get_endtime().strftime('%p')}}
    </td>
    {% endif %}

    <td>{{rides[i].get_num()}}</td>
    {% if my_netid in rides[i].get_riders() %}
    <td><i>My Ride</i></td>
    {% else %}
    <td>
        <form action="tryrequest" method="get">
        <input type = "hidden" name = "rideid" value = {{rides[i].get_rideid()}} />
        <input type="submit" value="Request to Join">
        </form>
    </td>
    {% endif %}
    </tr>
    {% endfor %}
</tbody>
</table>
{% endif %}